/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/* Variables */
:root {
  --base-black: #000000;
  --extra-black: #333333;
  --logo-black: #231F20;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --extra-transparent-white: rgba(255, 255, 255, 0.9);
  --base-gray: #eeeeee;
  --extra-gray: #f2f2f2;
  --light-gray: #cacaca;
  --accent-gray: #6a6a6a;
  --border-gray: #e5e5e5;
  --logo-gray: #BDBBBC;
  --controls-gray: #a9a9a9;
  --label-hover-gray: #ebebeb;
  --blue: #81b3d2;
  --blue-hover: #669EC0;
  --blue-active: #5496BD;
  --brown: #766357;
  --brown-hover: #604E43;
  --brown-active: #503E33;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  background-color: var(--extra-gray);
}

.page-body {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--extra-black);
  background-color: var(--white);
  text-transform: uppercase;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: var(--base-black);
}

.link:hover,
.link:focus {
  color: var(--blue);
}

.link:active {
  color: var(--transparent-black);
}

.link--active {
  color: var(--brown);
}

.btn-blue {
  border: none;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.btn-blue:hover {
  background-color: var(--blue-hover);
}

.btn-blue:active,
button.btn-blue:active {
  color: var(--transparent-white);
  background-color: var(--blue-active);
}

.btn-brown {
  color: var(--white);
  background-color: var(--brown);
  border: none;
  cursor: pointer;
}

.btn-brown:hover {
  background-color: var(--brown-hover);
}

.btn-brown:active {
  color: var(--transparent-white);
  background-color: var(--brown-active);
}

.item-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--base-black);
}

.common-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--base-black);
}

.item-title--white {
  color: var(--base-white);
}

/* Grid for index.html */
.index-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

/* Main Navigation section */
.main-header {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  background-color: var(--white);
}

.main-header__logo {
  position: absolute;
  z-index: 1;
  width: 138px;
  height: 70px;
  top: 0;
  left: calc(50% - 69px);
}

/* Main Menu */

.main-nav {
  font-weight: 700;
  line-height: 26px;
  color: var(--base-black);
}

.main-nav__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  min-height: 56px;
  list-style: none;
}

.main-nav__item:first-child,
.main-nav__item:nth-child(2) {
  text-align: left;
}

.main-nav__item:nth-child(3),
.main-nav__item:nth-child(4) {
  text-align: right;
}

.main-nav__item:first-child {
  padding-left: 72px;
}

.main-nav__item:nth-child(4) {
  padding-right: 72px;
}

/*Main Section */
.main-content {
  grid-column: 1/2;
  grid-row: 2/3;
}

/* Promo section */
.promo {
  position: relative;
  min-height: 509px;
  background-color: var(--white);
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/bg-shape.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.promo__img {
  display: block;
  margin: 0 auto;
  padding-top: 77px;
}

/* Features section */
.features {
  background-color: var(--white);
}

.features__title {
  width: 570px;
  margin: 0 auto;
  margin-top: 42px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--base-black);
  text-align: center;
}

.features__subtitle {
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 51px;
  line-height: 26px;
  text-align: center;
}

/* Features with img */

.features-item {
  display: grid;
  grid-template-columns: 1fr 800px;
  color: var(--white);
  background-color: var(--blue);
}

.features-item--right {
  grid-template-columns: 800px 1fr;
}

.features-item__text {
  padding: 49px 49px 52px;
  text-align: center;
}

.features-item__title {
  display: inline-block;
  width: 150px;
  margin: 0;
  margin-bottom: 26px;
}

.features-item__number {
  margin: 0;
  margin-bottom: 24px;
}

.features-item__descr {
  margin: 0;
}

/* Features with icons */

.features-icons {
  margin-bottom: 68px;
}

.features-icons__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  list-style: none;
}

.features-icons__item {
  width: 300px;
  text-align: center;
}

.features-icons__title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 100px;
}

.features-icons__title--house::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 72px;
  top: 0;
  left: calc(50% - 38px);
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.features-icons__title--food::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 70px;
  top: 1px;
  left: calc(50% - 38px);
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.features-icons__title--souvenir::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 77px;
  top: -4px;
  left: calc(50% - 32px);
  background-image: url("../img/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

/* Last Features with numbers */

.features-minor {
  position: relative;
  z-index: 2;
  background-color: var(--base-gray);
}

.features-minor__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.features-minor__item {
  width: 265px;
  margin-top: 47px;
  margin-bottom: 54px;
}

.features-minor__title,
.features-minor__number,
.features-minor__descr {
  margin: 0;
}

.features-minor__title {
  width: 130px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features-minor__number {
  margin-bottom: 24px;
}

/* Booking Form section */

.booking {
  position: relative;
  text-align: center;
}

.booking-wrapper {
  position: relative;
  z-index: 2;
  background-color: var(--white);
}

.booking__title {
  margin: 0;
  padding-top: 59px;
  padding-bottom: 31px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--base-black);
}

.booking__text {
  width: 435px;
  margin: 0 auto;
  margin-bottom: 45px;
  line-height: 24px;
}

.booking__btn {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Form Section */

.booking__form {
  position: absolute;
  z-index: 1;
  width: 568px;
  height: 395px;
  left: calc(50% - 568px / 2);
  bottom: -395px;
  background-color: var(--white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  transition: bottom 1s;
}

.booking__form--hide {
  bottom: 0;
}

.form {
  padding: 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.form__checkin,
.form__checkout {
  margin: 0;
  display: grid;
  align-items: center;
}

.form__checkin {
  margin-bottom: 29px;
}

.form__checkout {
  margin-bottom: 30px;
}

.input {
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--extra-gray);
  border: none;
}

.input::-webkit-input-placeholder {
  color: var(--base-black);
}

.input::-moz-placeholder {
  color: var(--base-black);
}

.input::placeholder {
  color: var(--base-black);
}

.input:hover {
  background-color: var(--label-hover-gray);
}

.form__guests-btn:hover~.input {
  background-color: var(--label-hover-gray);
}

.input:focus {
  outline: 2px solid var(--border-gray);
  background-color: var(--extra-gray);
}

.form__checkin-label,
.form__checkout-label {
  justify-self: start;
}

.form__checkin-input,
.form__checkout-input {
  width: 346px;
  padding-left: 12px;
  padding-right: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}

.input__calendar {
  justify-self: end;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 30px;
  height: 38px;
  padding: 0;
  border: 0;
  background-color: var(--controls-gray);
  -webkit-mask: url(../img/icon-calendar.svg) no-repeat 15% 40%;
  mask: url(../img/icon-calendar.svg) no-repeat 50% 50%;
  cursor: pointer;
}

.input__calendar:hover {
  background-color: var(--base-black);
}

.input__calendar:active {
  background-color: var(--blue);
}

.form__guests {
  margin-bottom: 54px;
  display: grid;
  grid-template-columns: 112px 114px 118px 114px;
  justify-items: start;
  align-items: center;
}

.form__guests-field {
  margin: 0;
  display: grid;
  grid-template-columns: 38px 38px 38px;
  background-color: var(--extra-gray);
}

.form__children-label {
  margin-left: 53px;
}

.form__adult-input,
.form__children-input {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}

.form__adult-input::-webkit-inner-spin-button,
.form__children-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__adult-input,
.form__children-input {
  -moz-appearance: textfield;
}

.form__guests-btn {
  width: 38px;
  height: 38px;
  padding: 0;
  border: 0;
  background-color: var(--controls-gray);
  cursor: pointer;
}

.form__guests-btn--plus {
  grid-column: 3/4;
  grid-row: 1/2;
  -webkit-mask: url(../img/icon-plus.svg) no-repeat 50% 50%;
  mask: url(../img/icon-plus.svg) no-repeat 50% 50%;
}

.form__guests-btn--minus {
  grid-column: 1/2;
  grid-row: 1/2;
  -webkit-mask: url(../img/icon-minus.svg) no-repeat 50% 50%;
  mask: url(../img/icon-minus.svg) no-repeat 50% 50%;
}

.form__guests-btn:hover {
  background-color: var(--base-black);
}

.form__guests-btn:active {
  background-color: var(--blue);
}

.form__btn {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Map section */

.map {
  height: 593px;
  background-color: var(--base-gray);
  /* background-image: url("../img/map.jpg"); */
}

.map iframe {
  width: 1200px;
  height: 593px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}

/* Footer section */

.main-footer {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 120px;
  padding: 24px 6px 0 6px;
  background-color: var(--extra-transparent-white);
}

.footer-item {
  width: 330px;
}

/* Contacts */

.contacts {
  padding-left: 64px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--base-black);
  text-align: center;
}

.contacts__hash-tag {
  margin: 0;
  margin-bottom: 10px;
}

.contacts__tel {
  margin: 0;
}

.contacts__tel-link {
  color: inherit;
}

/* Socials */

.social__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  list-style: none;
}

.social__item {
  margin-right: 6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  color: inherit;
  text-align: center;
  background-color: var(--blue);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--blue-hover);
}

.social__link:active {
  background-color: var(--blue-active);
}

.social__link svg {
  fill: var(--white);
}

.social__link:active svg {
  fill: var(--transparent-white);
}

/* Copyright */

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding-left: 34px;
  margin-top: -19px;
  line-height: 26px;
}

.copyright__text {
  margin-right: 8px;
}

.copyright__link {
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-top: -8px;
  background-color: var(--logo-black);
  -webkit-mask: url(../img/logo-htmlacademy.svg) no-repeat 50% 50%;
  mask: url(../img/logo-htmlacademy.svg) no-repeat 50% 50%;
}

.copyright__link:hover,
.copyright__link:focus {
  background-color: var(--blue);
}

.copyright__link:active {
  background-color: var(--logo-gray);
}

/* Hotel Page */

/* Hotel Filters Section */

.booking-filter {
  min-height: 217px;
  padding: 26px 72px 32px;
  display: grid;
  grid-template-columns: 254px 254px 1fr;
  color: var(--white);
  background-image: url("../img/background.jpg");
  background-color: var(--logo-gray);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.booking-filter fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.booking-filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.booking-filter legend:not(.price-set__legend) {
  margin-bottom: 24px;
}

.booking-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.booking-filter__option {
  position: relative;
  padding-left: 40px;
}

.apartments-type {
  padding-left: 43px;
}

.booking-filter__option label {
  cursor: pointer;
}

.booking-filter__input+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.booking-filter__input:disabled+label::before {
  background-image: url("../img/icon-checkbox-off--disabled.svg");
}

.booking-filter__input:checked+label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.booking-filter__input:checked:disabled+label::before {
  background-image: url("../img/icon-checkbox-on--disabled.svg");
}

.booking-filter__input:disabled+label {
  cursor: default;
}

.booking-filter__option+.booking-filter__option {
  margin-top: 25px;
}

.booking-filter__price-set {
  justify-self: end;
}

.price-set__legend {
  margin-bottom: 10px;
}

.price-set__wrapper {
  min-width: 317px;
  /* display: flex;
	flex-direction: column;
	align-items: end; */

}

.price-set__controls {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-bottom: 20px;
  border: 2px solid var(--white);
  border-radius: 2px;
  background-image: url("../img/price-line.svg");
  background-repeat: no-repeat;
  background-position: 50% center;
}

.price-set__controls input {
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
}

.price-set__controls input::-webkit-input-placeholder {
  color: var(--white);
}

.price-set__controls input::-moz-placeholder {
  color: var(--white);
}

.price-set__controls input::placeholder {
  color: var(--white);
}

.price-set__controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.price-set__controls input[type=number] {
  -moz-appearance: textfield;
}

.price-set__min-price input {
  width: 157px;
}

.price-set__max-price input {
  width: 154px;
}

.price-set__range {
  position: relative;
  width: 317px;
  margin-bottom: 33px;
}

.price-set__scale {
  height: 2px;
  background-color: var(--transparent-white);
}

.price-set__bar {
  width: 80%;
  margin-left: 0%;
  height: 2px;
  background-color: var(--white);
}

.price-set__toggle {
  position: absolute;
  top: -8px;
  width: 19px;
  height: 19px;
  background-color: var(--controls-gray);
  border: 7px solid var(--white);
  border-radius: 50%;
  box-shadow: 0 2px 0 var(--controls-gray);
  cursor: pointer;
  transition: transform 0.3s;
}

.price-set__toggle:hover {
  transform: scale(1.2);
}

.toggle-min {
  left: 0%;
}

.toggle-max {
  left: 80%;
}

.price-set__btn {
  display: block;
  padding: 8px 35px 8px 36px;
  margin: 0 auto;
  margin-left: 82px;
  color: var(--white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.price-set__btn:hover {
  color: var(--base-black);
  background-color: var(--white);
}

/* Hotel Sorting Section */

.booking-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 28px 73px 31px;
}

.booking-sort__number {
  margin: 0;
  margin-right: 47px;
}

.booking-sort__title {
  margin: 0;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  color: var(--base-black);
}

.booking-sort__list {
  min-width: 239px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.booking-sort__item {
  font-size: 12px;
  line-height: 14px;
  color: var(--transparent-black);
  cursor: pointer;
  border-bottom: 1px dotted var(--blue);
}

.booking-sort__item+.booking-sort__item {
  margin-left: 33px;
}

.booking-sort__item a {
  color: inherit;
}

.booking-sort__item--active,
.booking-sort__item:active {
  border-bottom: none;
}

.booking-sort__item--active,
.booking-sort__item:hover,
.booking-sort__item:focus {
  color: var(--blue);
}

.booking-sort__item:active {
  color: var(--base-black);
}

.booking-sort__wrapper {
  position: relative;
  width: 35px;
  height: 10px;
  margin-left: auto;
}

.booking-sort__arrow {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  border: 6px solid transparent;
  cursor: pointer;
  background-color: transparent;
}

.booking-sort__arrow--up {
  top: -3px;
  left: 0;
  border-bottom: 11px solid var(--light-gray);
}

.booking-sort__arrow--down {
  top: 3px;
  right: 0;
  border-top: 11px solid var(--light-gray);
}

.booking-sort__arrow--up:hover,
.booking-sort__arrow--up.booking-sort__arrow--active:hover {
  border-bottom-color: var(--base-black);
}

.booking-sort__arrow--down:hover,
.booking-sort__arrow--down.booking-sort__arrow--active:hover {
  border-top-color: var(--base-black);
}

.booking-sort__arrow:focus {
  outline: 1px solid var(--light-gray);
}

.booking-sort__arrow--up.booking-sort__arrow--active,
.booking-sort__arrow--up.booking-sort__arrow--active:active,
.booking-sort__arrow--up:active {
  border-bottom-color: var(--blue);
}

.booking-sort__arrow--down.booking-sort__arrow--active,
.booking-sort__arrow--down.booking-sort__arrow--active:active,
.booking-sort__arrow--down:active {
  border-top-color: var(--blue);
}

/* Booking Result Section */

.booking-results {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.booking-results__item {
  display: grid;
  grid-template-columns: 135px auto auto;
  padding: 30px 71px 29px 73px;
}

.booking-results__item+.booking-results__item {
  border-top: 1px solid var(--border-gray);
}

.booking-results__info {
  margin-top: -5px;
  margin-left: 29px;
}

.booking-results__title {
  margin: 0;
  margin-bottom: 6px;
}

.booking-results__title a {
  color: inherit;
}

.booking-results__title a:hover,
.booking-results__title a:focus {
  color: var(--blue);
}

.booking-results__title a:active {
  color: var(--transparent-black);
}

.booking-results__specs {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto auto;
  -moz-column-gap: 6px;
  column-gap: 6px;
  row-gap: 16px;
  margin: 0;
}

.small-btn {
  padding: 3px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.booking-results__rating {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking-results__rating-stars {
  display: flex;
  justify-content: flex-end;
}

.booking-results__star-img:not(:last-child) {
  margin-right: 4px;
}

.booking-results__rating-text {
  margin: 0;
  padding: 3px 12px 3px 15px;
  background-color: var(--extra-gray);

}
